@import url('https://fonts.googleapis.com/css?family=Lato');

html, body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.btn {
    border: none;
    font-weight: bold;
    cursor: pointer;
}

/************************************************** HEADER **************************************************/

header {
    letter-spacing: 0.75px;
    min-width: 400px; /* !!! */
}

#header-content {
    height: 55px;
    margin: 0 5%;
    display: flex;
    justify-content: center;
}

#header-content-left {
    flex: 1;
    display: flex;
    align-items: center;
}

#header-content-left a {
    text-decoration: none;
}

#header-content-left img {
    width: 120px;
    height: 25px;
    margin-top: 2px;
    margin-right: 30px;
}

#header-content-left span {
    margin-right: 30px;
    font-size: 15px;
    color: #000;
}

#header-content-left span:hover {
    color: #771FE7;
}

#headre-content-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#btn-upgrade-to-pro {
    width: 150px;
    height: 40px;
    margin-right: 40px;
    border-radius: 40px;
    background-color: #6400E4;
    font-size: 15px;
    color: #fff;
}

#btn-upgrade-to-pro:hover {
    box-shadow: 0 3px 4px rgba(30, 30, 30, 0.25), 1px 1px rgba(0,0,0,0.22);
}

#btn-log-in {
    font-size: 15px;
    background-color: #fff;
}

header hr {
    margin: 0;
}

@media (max-width: 767px) { /* 768px - iPad */
    #header-content-left span,
    #btn-upgrade-to-pro {
        display: none;
    }
}

/************************************************** JOIN US **************************************************/

#join-us-content {
    display: flex;
}

#join-us-content-left {
    flex: 1;
    position: relative;
}

#join-us-img-1 {
    position: absolute;
    width: 75%;
    top: 10%;
    right: 0;
    z-index: 2;
}

#join-us-img-2 {
    position: absolute;
    width: 40%;
    bottom: 0;
    right: 50%;
    z-index: 3;
}

#join-us-img-3 {
    position: absolute;
    width: 40%;
    top: 3%;
    right: 10%;
    z-index: 1;
}

#join-us-img-4 {
    position: absolute;
    width: 25%;
    top: 20%;
    right: 50%;
    z-index: 4; 
}

#join-us-img-5 {
    position: absolute;
    width: 15%;
    top: 2.75%;
    right: 80%;
    z-index: 4; 
}

#join-us-text {
    position: absolute;
    width: 320px;
    height: 190px;
    box-sizing: border-box;
    padding: 45px 10px 0;
    top: 315px; 
    font-size: 30px; 
    font-weight: bold;
    text-align: center;
    background-color: #6400E4;
    color: #fff;
    z-index: 4;
}

#join-us-content-right {
    flex: 1;
}

#join-us-content-right-inner {
    width: 400px; /* !!! */
    box-sizing: border-box;
    padding-left: 4%;
    padding-right: 4%;
    margin: 60px auto 20px;
}

#join-us-content-right label {
    font-size: 13px;
    font-weight: bold;
}

#join-us-content-right input {
    display: block;
    width: 100%;
    height: 45px; 
    margin: 7.5px 0 20px 0;
    box-sizing: border-box;
    padding: 10px 15px;
    border: none;
    border: 1px solid #E9EAEA;
    border-radius: 2.5px;
    font-size: 15px;
}

#btn-start-coding-now {
    width: 100%;
    height: 55px;
    border-radius: 55px;
    background-color: #6400E4;
    font-size: 17.5px;
    color: #fff;
}

#btn-start-coding-now:hover {
    box-shadow: 0 3px 4px rgba(30, 30, 30, 0.25), 1px 1px rgba(0,0,0,0.22);
}

#join-us-content-right p {
    font-size: 14px;
}

#networks-wrapper {
    display: flex;
    justify-content: space-between;
}

#networks-wrapper div {
    width: 70px;
    height: 50px;
    text-align: center;
    border: 2px solid #E9EAEA;
}

#networks-wrapper div:hover {
    box-shadow: 3px 7.5px 10px rgba(120, 120, 120, 0.25), 1px 1px rgba(120, 120, 120, 0.22);
}

#networks-wrapper div img {
    width: 20px;
    margin-top: 15px;
}

@media (max-width: 760px) {
    #join-us-content-left {
        display: none;
    }
}

@media (min-width: 1300px) {
    #join-us-content-right-inner {
        max-width: 650px;
        padding-left: 20px;
        padding-right: 20px;
    }
    
    #join-us-img-1  {
        width: 500px;
    }

    #join-us-img-2 {
        width: 250px;
        right: 330px;
    }

    #join-us-img-3 {
        width: 260px;
        right: 70px; 
    }

    #join-us-text {
        width: 395px;
        height: 200px;
        right: 280px;
        top: 240px;
        font-size: 40px; 
        padding-top: 30px;
    }

    #join-us-img-4 {
        width: 162.5px; /* 650 * 0.25 */
        right: 325px; /* 650 * 0.5 */ 
    }

    #join-us-img-5 {
        width: 93.75px; /* 650 * 0.15 */
        right: 520px; /* 650 * 0.8 */ 
    }
}

/**************************************************  **************************************************/

#steps {
    min-width: 400px;
    position: relative;
    box-sizing: border-box;
    padding-top: 12.5%;
    background-image: url(https://www.codecademy.com/webpack/97c231317f3aee5c720fdc9f98693562.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

#steps-wrapper {
    background-color: #F1F3FE;
}

#steps-content {
    box-sizing: border-box;
    padding: 0% 10%;
}

#steps-content h1 {
    font-size: 1.8em;
    text-align: center;
}

#steps-content-items {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

.steps-item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.5%;
}

.steps-left, 
.steps-right {
    flex: 1;
    flex-basis: 409.6px; /* (1024 - 102.4 * 2) / 2 */
}

.steps-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.steps-left img {
    max-width: 50%; /* 204.8 = 409.6 / 2 */
}

.circle-outer {
    position: relative;
    top: -10px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: inset 0 0 5px rgba(150, 150, 150, 0.5);
}

.circle {
    position: relative;
    top: 15px;
    left: 15px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    box-sizing: border-box;
    padding-top: 10px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(150, 150, 150, 0.5);
}

.steps-right p {
    font-size: 18px;
}

@media (max-width: 768px) {
    .circle-outer {
        top: -10px;
        width: 50px;
        height: 50px;
    }

    .circle {
        top: 7.5px;
        left: 7.5px;
        width: 35px;
        height: 35px;
        padding-top: 5px;
        font-size: 20px;
    }
}

@media (max-width: 1023px) {
    .steps-left img {
        margin-right: 10%;
        margin-left: 5%;
    }
    
    .steps-right h2 {
        text-align: center;
    }
    
    .steps-right p {
        width: 85%;
        margin: 0 auto;
        text-align: center;
    }
} 

@media (min-width: 1024px) {
    #steps-content h1 {
        font-size: 2.25em;
    }
    
    .steps-left {
        justify-content: flex-end;
    }
    
    .steps-left img {
        margin-right: 10%;
        margin-left: 10%;
    }
}

/**************************************************  **************************************************/

.bg {
    background-color: #F1F3FE;
}

#our-learners {
    min-width: 400px;
    padding: 3% 0;
    text-align: center;
}

#our-learners h1 {
    margin-top: 0;
}

#our-learners img {
    width: 80%;
}

@media (max-width: 767px) {
    #bg-2 {
        background-color: #fff;
    }

    #our-learners {
        padding: 5% 0;
    }
}

/********************************************** ***************************************************/

#video {
    min-width: 400px;
    position: relative;
    background-color: #F1F3FE;
}

#video-content {
    position: relative;
    padding-bottom: 56.25%; /* задаёт высоту контейнера для 16:9 (если 4:3 — поставьте 75%) */
    height: 0;
    overflow: hidden;
}

#video-content iframe {
    position: absolute;
    /* top: 2%; */
    left: 2.5%;
    width: 95%;
    height: 100%;
    z-index: 1;
}

#video-bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20%;
    background-color: #141C3A;
    z-index: 0;
}

@media (max-width: 399px) {
    #video-bottom {
        background-color: inherit;    
    }
}

/********************************************** ***************************************************/

#bg-3 {
    min-width: 400px;
    background-color: #141C3A;
}

#feedback {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10% 0 20%;
}

#feedback-left,
#feedback-right {
    flex: 1;
    flex-basis: 512px;
}

#feedback-left {
    position: relative;
}

#feedback-img-1 {
    position: relative;
    left: 25%;
    width: 50%;
    border-radius: 50%;
    z-index: 1;
}

#feedback-img-2 {
    position: absolute;
    top: -5%;
    left: 20%;
    width: 57.5%;
    z-index: 0;
}

#feedback-img-3 {
    position: absolute;
    top: 25%;
    left: 15%;
    width: 17.5%;
    z-index: 2;
}

#feedback-img-4 {
    position: absolute;
    transform: rotate(90deg);
    bottom: 0;
    right: 20%;
    width: 12.5%;
    z-index: 2;
}

#feedback-right {
    box-sizing: border-box;
    padding-left: 10%;
    color: #fff;
}

#feedback-text {
    width: 80%;
    margin-top: 0;
    font-size: 35px;
}

#feedback-author {
    font-size: 20px;
}

@media (max-width: 1023px) {
    #feedback-img-2,
    #feedback-img-3,
    #feedback-img-4 {
        display: none;
    }

    #feedback-right {
        padding-left: 0;
    }

    #feedback-text {
        margin: 10% auto 5%;
        font-size: 25px;
    }
    
    #feedback-author {
        width: 80%;
        margin: 0 auto;
    }
}

/********************************************** ***************************************************/

#promotion-section {
    min-width: 400px;
    box-sizing: border-box;
    background-image: url(https://www.codecademy.com/webpack/fb2e4b44c5ca46028e9bfb9452590086.svg);
    background-repeat: no-repeat;
    background-size: 925px;   
    background-position: 65% 50%;
}

#promotion-content-wrapper {
    position: relative;
    top: -75px;
    width: 70%;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 5%;
    background-color: #fff;
}

#promotion-header {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 75px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.promotion-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 5%;
}

.promotion-item {
    flex-basis: 46%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.promotion-item-left {
    flex-basis: 10%;
    text-align: right;
}

.promotion-item-right {
    flex-basis: 70%;
    box-sizing: border-box;
    padding-left: 20px;
}

.promotion-item-right-head {
    margin-bottom: 15px;
    border-bottom: 3px solid #000;
}

.promotion-item-right-head h1 {
    margin-top: 0;
    margin-bottom: 10px;
}

.promotion-item-right-body {
    font-size: 18px;
}

#btn-get-started {
    display: block;
    width: 30%;
    height: 60px;
    margin: 0 auto;
    border-radius: 60px;
    background-color: #6400E4;
    font-size: 20px;
    color: #fff;
}

#btn-get-started:hover {
    box-shadow: 0 5px 6px rgba(30, 30, 30, 0.25), 1px 1px rgba(0,0,0,0.22);
}

@media (max-width: 1299px) {
    #promotion-section {
        background-image: initial;
    }

    #promotion-header {
        width: 75%;
        padding-bottom: 50px;
    }
    
}

@media (max-width: 767px) {
    #promotion-content-wrapper {
        width: 95%;
        top: 0;
        padding-top: 0;
    } 

    #promotion-header {
        padding-top: 20px;
        font-size: 30px;
    }
    
    .promotion-items {
        margin-bottom: 0;
    }
    
    .promotion-item {
        flex-basis: 100%;
        justify-content: initial;
    }

    .promotion-item-left {
        flex-basis: 100%;
        margin-bottom: 10px;
        text-align: center;
    }

    .promotion-item-right {
        flex-basis: 100%;
        padding-left: 0;
        margin-bottom: 10%;
    }

    .promotion-item-right-head h1 {
        text-align: center;
    }

    #btn-get-started {
        width: 50%;
    }
} 

/********************************************** ***************************************************/

#code-section {
    min-width: 400px;
    padding-top: 75px;
}

#code-content {
    display: flex;
    flex-wrap: wrap;
}

#code-left {
    min-height: 540px;
    flex-basis: 40%;
    position: relative;
}

#code-img {
    position: absolute;
    right: -75px;
}

#code-right {
    flex-basis: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

#code-right-inner {
    position: relative;
    top: -10%;
    left: 15%;
    width: 65%;
}

#code-right-inner h1 {
    font-size: 45px;
}

#code-right-inner p {
    font-size: 20px;
}

@media (max-width: 767px) {
    #code-left {
        flex-basis: 100%;
        min-height: initial;
    }

    #code-left,
    #code-right {
        flex-basis: 100%;
    }

    #code-img {
        position: relative;
        right: initial;
        left: 10%;
        width: 85%;
    }

    #code-right-inner {
        top: 0;
        left: 10%;
        width: 80%;
    }

    #code-right-inner h1 {
        font-size: 30px;
        text-align: center;
    }

    #code-right-inner p {
        font-size: 17px;
    }
}

/********************************************** ***************************************************/

#directions-section {
    position: relative;
    min-width: 400px;
    background-color: #141C3A;
    color: #fff;
}

#directions-wrapper {
    position: relative;
    padding-bottom: 5%;
}

#directions-img-1 {
    position: absolute;
    top: 5%;
    left: 2.5%;
    z-index: 2;
}

#directions-img-2 {
    position: absolute;
    top: -12.5%;
    right: 2.5%;
    width: 100px;
    z-index: 2;
}

#directions-header {
    width: 40%;
    max-width: 520px;
    margin: 0 auto;
    padding: 2.5% 0;
}

#directions-header p {
    font-size: 55px;
    font-weight: bold;
    text-align: center;
}

#text-color-first {
    color: #6DF0C2;
}

#text-color-second {
    color: #FFC740;
}

#directions-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 95%;
    margin: 0 auto;
}

.direction {
    flex-basis: 30%;
}

.direction-name {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-bottom: 3px solid #fff;
}

.direction-technology-list {
    margin-top: .75em;
}

.direction-technology-item {
    display: inline-block;
    margin-right: 10%;
    font-size: 20px;
    font-weight: 500;
}

.direction-technology-item:before {
    content: "●";
    margin-right: 5px;
}

.item-1:before {
    color: #FFC740;
}

.item-2:before {
    color: #6DF0C2;
}

.item-3:before {
    color: #6400E4;
}

.direction-description {
    margin-top: 1em;
    font-size: 18px;
}

.directions-icons {
    position: absolute;
    font-size: 50px;
    color: #454B62;
    z-index: 1;
}

#directions-icon-1 {
    top: 12.5%;
    left: 2.5%;
}

#directions-icon-2 {
    top: 10%;
    left: 25%;
}

#directions-icon-3 {
    top: 3%;
    left: 55%;
}

#directions-icon-4 {
    top: 11%;
    left: 75%;
}

#directions-icon-5 {
    top: 2%;
    left: 87.5%;
}

#directions-icon-6 {
    top: 30%;
    left: 15%;
}

#directions-icon-7 {
    top: 27.5%;
    left: 90%;
}

#directions-icon-8 {
    top: 37.5%;
    left: 22.5%;
}

#directions-icon-9 {
    top: 52.5%;
    left: 10%;
}

#directions-icon-10 {
    top: 55%;
    left: 30%;
}

#directions-icon-11 {
    top: 60%;
    left: 67.5%;
}

#directions-icon-12 {
    top: 48.5%;
    left: 80%;
}

#directions-icon-13 {
    top: 60.5%;
    left: 92.5%;
}


@media (max-width: 767px) {
    #directions-section {
        margin-top: 60px;
    }

    #directions-img-2 {
        position: absolute;
        top: -7.5%;
        right: 2.5%;
        width: 50px;
    }

    #directions-header {
        width: 80%;
        padding: 60px 0 25px;
    }

    #directions-header p {
        font-size: 35px;
    }

    .direction {
        flex-basis: 100%;
        margin-bottom: 40px;
    }

    .direction-name {
        justify-content: flex-start;
    }

    .direction-name h1{
        font-size: 20px;
    }

    .direction-technology-item {
        margin-right: 2.5%;
        font-size: 16px;
    }

    .directions-icons {
        display: none;
    }
}

/********************************************** ***************************************************/

#join-45-wrapper {
    min-width: 400px;
    display: flex;
}

#join-45-left {
    height: 600px;
    flex-basis: 70%;
    position: relative;
    box-sizing: border-box;
    padding-left: 2.5%;
    padding-right: 10%;
}

#join-45-left h1 {
    font-size: 50px;
}

#join-45-left img {
    width: 80%;
    position: absolute;
    bottom: -50px;
}

#join-45-right {
    height: 600px;
    flex-basis: 30%;
    position: relative;
}

#join-45-right img {
    height: 100%;
    position: absolute;
    bottom: -50px;
    right: 0;
}

@media (max-width: 960px) {
    #join-45-left {
        flex-basis: 55%;
        padding-right: 0; 
    }

    #join-45-left h1 {
        font-size: 40px;
    }

    #join-45-left img {
        bottom: 15%;
        width: 100%;
    }

    #join-45-right {
        flex-basis: 45%;
    }

    #join-45-right img {
        bottom: 10%;
        height: 80%;
    }
}

@media (max-width: 767px) {    
    #join-45-left {
        height: auto;
        flex-basis: 100%;
        padding: 0 0;
    }

    #join-45-left h1 {
        width: 80%;
        margin: 50px 10%;
        font-size: 30px;
    }

    #join-45-left img {
        position: relative;
        bottom: -5px;
    }

    #join-45-right {
        display: none;
    }
}

/********************************************** ***************************************************/

#last-section {
    min-width: 400px;
    background-color: #6400E4;
    color: #fff;
    overflow: hidden;
}

#last-section-content {
    min-height: 550px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#last-section-content h1 {
    width: 40%;
    margin-bottom: 15px;
    font-size: 50px;
    text-align: center;
    z-index: 1;
}

#last-section-content p {
    width: 50%;
    font-size: 20px;
    margin-bottom: 30px;
    text-align: center;
    z-index: 1;
}

#last-section-content button {
    width: 30%;
    height: 60px;
    border: none;
    border: 1px solid #fff;
    border-radius: 60px;
    background-color: #6400E4;
    font-size: 20px;
    color: #fff;
    z-index: 1;
}

#last-section-content button:hover {
    background-color: #6400D9;
}

#last-section-img-1 {
    position: absolute;
    width: 500px;
    top: 15%;
    left: -175px;
    z-index: 0;
}

#last-section-img-2 {
    position: absolute;
    width: 150px;
    top: -20px;
    right: 0;
    z-index: 3;
}

#last-section-img-3 {
    position: absolute;
    width: 200px;
    bottom: 50px;
    right: -60px;
    z-index: 0;
}

@media (max-width: 767px) {
    #last-section-content h1 {
        width: 80%;
        font-size: 35px;
    }

    #last-section-content p {
        width: 90%;
    }

    #last-section-content button {
        width: 50%;
    }

    #last-section-img-1,
    #last-section-img-3 {
        display: none;
    }
}

/********************************************** ***************************************************/

@media (min-width: 1400px) {
    #header-content,
    #join-us-content,
    #steps-content,
    #our-learners,
    #video-content,
    #feedback,
    #promotion-section,
    #code-content,
    #directions-wrapper,
    #join-45-wrapper,
    #last-section-content {
        max-width: 1400px;
        margin: 0 auto;
    }

    #steps-content {
        padding: 0 140px
    }

    #video-content {
        padding-bottom: 770px;
    }

    #video-content iframe {
        width: 1330px;
        height: 731.25px;
    }

    #feedback {
        padding: 140px 0 270px;
        /* 
            Высчитать правильно!
        */
    }

    #btn-get-started {
        width: 315px;
    }

    #join-45-right img {
        height: initial;
        width: 90%;
    }    
}